<% if @candidates.present?%>
  <h2>Candidates</h2>
  
    <head>
      <h4>
        <div class="row">
          <div class="col-md-1">Name</div>
          <div class="col-md-2">email</div>
          <div class="col-md-1">First Round</div>      
          <div class="col-md-1">Second Round</div>  
          <div class="col-md-1">Final Round</div>  
          <div class="col-md-4"><button type="button" id="destroy_candidate" >Destroy</button></div>
        </div>
      </h4>
      <script>
        // $(function(){
        //   $("#accordion").accordion();
        // })
        
        $("#destroy_candidate").click(function(){
          alert("hii")
          var data = $('input:checkbox:checked');
          text=[]
          for(let i=0;i<data.length;i++){
            text.push( data[i].value)}
          $.ajax({
            url: '/bulk_destroy',
            type: 'GET',
            dataType: 'script',
            data: {"checkbox" :text }
            });
            alert("bye")

        })
      </script>
    </head>      

    <body>     
      <div id="accordion">  
        <% @candidates.uniq.each do |candidate| %>      
        
          <div class="row" id="item">                  
            <div class="col-md-1"><input type="checkbox" name=<%= candidate.name%> value=<%=candidate.id%> id="check" ></div>
            <div class="col-md-1"><%= candidate.name %></div>
            <div class="col-md-2"><%= candidate.email %></div> 
            <% flag = 3 %>
            <%candidate.reports.each do |r|%>
              <div class="col-md-1"><%= r.status%></div>
              <% flag -= 1%>
            <% end %>
            <% for i in 0...flag%>
              <div class="col-md-1"> not scheduled</div>
            <% end %>
            <div class="col-md-1"><%= link_to "Show", candidate_path(candidate.id), :class => "btn btn-outline-info", target: :_blank %></div>
            <div class="col-md-1"><%= link_to "Edit", edit_candidate_path(candidate.id), :class => "btn btn-outline-primary", target: :_blank %></div>
            <div class="col-md-1"><%= link_to "Destroy", candidate_path(candidate.id), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-outline-danger",id: "delete", remote: true  %></div>
            <% if candidate.reports.where(status: "Fail").blank? %>
              <% if candidate.reports.where(interview_number: "Final").blank?%>
                <div class="col-md-2"><%= link_to "Create New Report", new_candidate_report_path(candidate.id), :class => "btn btn-outline-success", target: :_blank %></div>
              <% end %> 
            <% end %>
          </div>
          <div id="p">
            <% unless candidate.reports.blank?%>
              <% candidate.reports.each do|report|%>
                <div class="row" >
                  <div class="col-md-3" >
                    <%= report.status %>
                  </div>
                  <div class="col-md-3">
                    <%= report.created_at %>
                  </div>
                  <div class="col-md-3">
                    <%= report.feedback %>
                  </div>
                </div>
              <% end %>
            <% end %> 
          </div>
        <% end %> 
      </div>  
    </body>
  <%= will_paginate @candidates %> 
<% else %>
  <h3>Candidate not Found </h3>  
<% end %>