<h3>Reports</h3>

<table  >
  <thead>
    <tr >
      <th>Interview Round</th>
      <th>Status</th>
      <th>Interviewer Name</th>
      <th>Feedback</th>
      <th>Time</th>
      <th>candidate_id</th>
      <% unless @candidate.document_pdf.blank?%>
        <th>Resume</th>
      <% end %>
    
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.interview_number %></td>
        <td><%= report.status %></td>     
        <td><%= report.interviewer_name %></td> 
        <td><%= report.feedback %></td>  
        <td><%= report.created_at %></td>  
        <td><%= report.candidate_id %></td>  

        <% unless @candidate.document_pdf.blank?%>     
          <td><%= link_to 'view file', @candidate.document_pdf %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>




