

<%= form_with  model: @report, url: candidate_reports_path do |form|%>
 <% if @report.errors.any?%>
  <h3> Errors </h3>
  <ul>
    <% @report.errors.full_messages.each do |message|%>
      <li><%= message%></li>
    <% end %>
  </ul>  
  <% end %>
  <%= form.label :status%>
  <%= form.select :status, ["Pass", "Fail"]%><br><br>
  <div>
    <p>Interview Round : <%= @report.candidate_interview_round(@report.candidate_id)%> <p>
  </div>
  <%= form.label :interviewer_name, "Interviewer Name"%>
  <%= form.text_field :interviewer_name%><br><br>
  <%= form.label :feedback%>
  <%= form.text_area :feedback%><br><br>  
  <%= form.submit%>
<% end %>  