<%= form_with model: @report do |form|%>
 <% if @report.errors.any?%>
  <h3> Errors </h3>
  <ul>
    <% @report.errors.full_messages.each do |message|%>
      <li><%= message%></li>
    <% end %>
  </ul>  
  <% end %>
  <%= form.label :status%>
  <%= form.text_field :status%><br><br>
  <%= form.label :interview_number%>
  <%= form.text_field :interview_number%><br><br>
  <%= form.label :interviewer_name%>
  <%= form.text_field :interviewer_name%><br><br>
  <%= form.label :feedback%>
  <%= form.text_field :feedback%><br><br>
  
  
  <%= form.submit%>
<% end %>  